.profile-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 0%;
    margin-right: 20px;
    border: 2px solid #333;
}

.user-info h2, .user-info p {
    margin: 5px 0;
}

.user-info h2 {
    font-size: 24px;
    color: #333;
}

.user-info p {
    font-size: 16px;
    color: #666;
}

.edit-button {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 10px 30px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}

.delete-button {
        position: absolute;
        top: 60px;
        right: 15px;
        padding: 10px 24px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}

.edit-button:hover, .delete-button:hover {
  background-color: #45a049;
}

/*
#confirmModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#confirmBox {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

#confirmBox button {
    margin: 5px;
}
*/