<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webpage</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/register.css">
  <link rel="stylesheet" href="/static/css/mypage_modify.css">

  <script src="/static/js/sanitize-html.min.js"></script>
  <script src="/static/js/query_parser.js"></script>
</head>
<body>
  <header>
    <h1>webpage</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Info</a></li>
        <li><a href="/report">Report</a></li>
        <li><a href="/mypage">Mypage</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="signup-container">
      <h1>Modify</h1>
      <form action="/mypage_modify" method="POST">
        <p><input type="text" name="username" id="username" placeholder="username" value="{{ user.username }}" required></p>
        <p><input type="email" name="email" id="email" placeholder="email" value="{{ user.email }}"></p>
        <p><input type="submit" value="회원정보 수정"></p>
      </form>
      <a href="/mypage"><button type="button">취소</button></a>
    </div>
  </main>

  <footer>
    designed by GPT4.. hahaha
  </footer>
</body>
</html>
